:root {
  --color-white: #fff;
  --color-light: #f4f4f4;
  --color-dark: #525252;
  --color-black: #141414;
  --color-primary: #1b0ceb;
  --color-primary-light: rgba(84, 120, 238, 0.12);

  --transition: all 300ms ease;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-white);
  font-family: "Montserrat", sans-serif;
  color: var(--color-dark);
  max-width: 100vw;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--color-black);
  line-height: 1.2;
}

h1 {
  font-size: 3rem;
}

p {
  line-height: 1.8;
}

.container {
  width: 80%;
  margin: 0 auto;
}

section {
  padding: 7rem 0;
  max-width: 100vw;
  overflow-x: hidden;
}

section h1 {
  text-align: center;
  display: block;
  margin-bottom: 5rem;
}

img {
  width: 100%;
}

.btn {
  padding: 1.4rem 3.4rem;
  font-size: 1.1rem;
  color: var(--color-black);
  background: var(--color-white);
  display: inline-block;
  margin: 2rem 0;
  transition: var(--transition);
}

.btn:hover {
  box-shadow: 0 2rem 2rem var(--color-primary-light);
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-white);
}

/* ==================== NAVBAR ============================ */
nav {
  background: var(--color-white);
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid var(--color-light);
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

nav button {
  display: none;
}
nav h3 {
  color: var(--color-primary);
}

nav .container ul {
  display: flex;
  height: 100%;
}

nav .container ul li a {
  height: 100%;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-black);
  position: relative;
  transition: var(--transition);
}

nav .container ul li a:hover {
  color: var(--color-primary-light);
}

nav .container ul li a.active {
  background: var(--color-primary);
  color: var(--color-white);
}

/* ==================== HOME ============================== */
section.home {
  background: var(--color-light);
  display: grid;
  place-items: center;
  position: relative;
  top: 3rem;
  padding-bottom: 14rem;
}

section.home .container {
  display: grid;
  grid-template-columns: 5rem auto 26rem;
  gap: 2rem;
}

section.home .socials {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 5rem;
}

section.home .socials a {
  font-size: 1.5rem;
  background: var(--color-light);
  color: var(--color-dark);
  padding: 0.3rem;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
}

section.home .socials a:hover {
  background: var(--color-primary);
  color: var(--color-white);
}

section.home .info h1 {
  text-align: left;
  margin: 0;
}

section.home .info h3 {
  margin: 2.5rem 0 1rem 0;
}

section.home .info p {
  width: 28rem;
}

section.home .profile-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

section.home .profile-area .outer-circle {
  width: 26rem;
  height: 26rem;
  border: 1px solid var(--color-primary);
  border-radius: 50%;
  position: relative;
  /* animation: move 30s linear infinite; */
}

@keyframes move {
  to {
    transform: rotate(360deg);
  }
}

section.home .profile-area .outer-circle span {
  display: flex;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: absolute;
  background: var(--color-white);
  color: var(--color-primary);
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1rem var(--color-primary-light);
}

section.home .profile-area .outer-circle span:nth-child(1) {
  left: calc(50% - 2rem);
  top: -2rem;
}

section.home .profile-area .outer-circle span:nth-child(2) {
  right: -2rem;
  top: calc(50% - 2rem);
}

section.home .profile-area .outer-circle span:nth-child(3) {
  left: -2rem;
  top: calc(50% - 2rem);
}

section.home .profile-area .outer-circle span:nth-child(4) {
  left: calc(50% - 2rem);
  bottom: -2rem;
}

section.home .profile-area .inner-circle {
  position: absolute;
  width: 22rem;
  height: 22rem;
  border-radius: 50%;
  overflow: hidden;
}

/* ==================== SKILLS ============================ */
section.skills .container {
  width: 50%;
}

section.skills .skill {
  margin-bottom: 1rem;
}

section.skills .skill .head {
  background: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
  padding: 1.5rem;
  cursor: pointer;
}

section.skills .skill .head h4 {
  color: var(--color-white);
}

section.skills .skill .head .left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

section.skills .skill .item {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  padding: 1.5rem;
  background: var(--color-light);
  margin-bottom: 0.5rem;
  transition: var(--transition);
}

section.skills .skill .item:hover {
  background: var(--color-white);
}

section.skills .skill .progress-area {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

section.skills .item .progress-bar {
  width: 100%;
  height: 1rem;
  background: var(--color-primary-light);
}

section.skills .item .progress-bar .progress {
  height: 100%;
  width: 75%;
  background: var(--color-primary);
}

section.skills .item:nth-child(2) .progress-bar .progress {
  width: 70%;
}

section.skills .item:nth-child(3) .progress-bar .progress {
  width: 50%;
}

section.skills .item:nth-child(4) .progress-bar .progress {
  width: 40%;
}

/* ==================== PORTFOLIO ========================= */
section.recent-work {
  background: var(--color-light);
}

section.recent-work h1 {
  text-align: left;
  margin: 2rem 0 1rem;
  width: 60%;
}

section.recent-work .projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

section.recent-work .projects .project {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

section.recent-work .projects .project .action {
  display: flex;
  gap: 2rem;
}

section.recent-work .projects .project .action a {
  padding: 0.5rem 1em;
  color: var(--color-white);
  background: var(--color-dark);
  display: inline-block;
  border: 1px solid var(--color-black);
  transition: var(--transition);
}

section.recent-work .projects .project .action a:hover {
  background: var(--color-primary);
}

section.recent-work .projects .project .thumbnail {
  max-height: 18rem;
  overflow-y: hidden;
}

/* ==================== CONTATO =========================== */
section.contact {
  background: url("./images/contact.jpg") no-repeat center center/cover;
  padding: 0;
  max-width: 100vw;
}

section.contact .overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  padding: 7rem 0;
}

section.contact .container {
  width: 40%;
}

section.contact .container h1 {
  margin: 0;
  color: var(--color-white);
}

section.contact .container p {
  text-align: center;
  color: var(--color-white);
  opacity: 0.8;
  margin-top: 0.5rem;
}

section.contact form {
  margin-top: 2rem;
}

section.contact form input,
section.contact form textarea {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  padding: 1.2rem;
  border: 1px solid var(--color-white);
  background: transparent;
  color: var(--color-white);
  transition: var(--transition);
}

section.contact form textarea {
  height: 10rem;
}

section.contact form input:focus,
section.contact form textarea:focus {
  background: var(--color-light);
  color: var(--color-black);
}

section.contact form input::placeholder,
section.contact form textarea::placeholder {
  color: var(--color-white);
}

section.contact form .btn {
  width: 14rem;
  border: none;
  background: var(--color-light);
  color: var(--color-black);
  margin: 2rem auto 0;
}

section.contact form .btn:hover {
  background: var(--color-primary);
  color: var(--color-white);
  cursor: pointer;
}
